/**************************************************
	COMMENTS
**************************************************/

ol.commentlist li p {
	margin-top: -25px;
	clear: both;
}

/**************************************************
	NAVIGATION - BLOG
**************************************************/

.nav.blog .navMask ul.navContent {
	float: right;
}